<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9090"/>
	</include>

	<node name="file_server" pkg="file_server" type="file_server" output="screen"/>

    <arg name="mocap_server" default="192.168.1.202"/>

	<node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
        <rosparam subst_value="true">
            server: $(arg mocap_server)
            port: 3883

            update_frequency: 100.0
            frame_id: world

            # Use the VRPN server's time, or the client's ROS time.
            use_server_time: false
            broadcast_tf: true

            # Must either specify refresh frequency > 0.0, or a list of trackers to create
            #refresh_tracker_frequency: 1.0
            trackers:
            - rosbot01
            - rosbot02
            - rosbot03
        </rosparam>
        <remap from="/vrpn_client_node/rosbot01/pose" to="/Rosbot01/pose"/>
        <remap from="/vrpn_client_node/rosbot02/pose" to="/Rosbot02/pose"/>
        <remap from="/vrpn_client_node/rosbot03/pose" to="/rosbot03/pose"/>
    </node>

    <!--node name="waypointControl" pkg="adam_thesis" type="waypoint_control.py" output="screen"/-->

    <node name="movementKiller" pkg="adam_thesis" type="movement_killer.py" output="screen"/>

    <node name="batteryChecker" pkg="adam_thesis" type="battery_checker.py" output="screen"/>

</launch>
